.board {
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background-color: gold;
  border: 5px solid black;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
