* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.page {
    background-color: #4D77FF;
    min-width: 800px;
    padding-bottom: 80px;
    padding-top: 10px;
}

.pageInner {
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 24px;
}

.contacts-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F2FA5A;
    border-color:rgb(118, 118, 118);
    font-size: 32px;
    font-weight: bold;
}

.search-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: #F2FA5A;
    color: rgb(118, 118, 118);
    font-size: 27px;
    padding: 10px 100px;
    border-radius: 48px;
}

.main-container {
    padding: 0px 24px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #56BBF1;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 10px 20px;
}

.name-picture-block {
    display: flex;
    flex-direction: row;
}

.profile-name-position {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.name {
    color: #F1E1A6;
    font-size: 28px;
}

.position {
    color: #F4BBBB;
    font-size: 20px;
    font-weight: bold;
}

.profile-picture {
    display: block inline;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.picture {
    max-width: 170%;
    max-height: 170%;
    object-fit: cover;
}

.right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.call-button, .email-button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F2FA5A;
    border: solid;
    background-color: #56F1F1;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px;
    border-color: #F2FA5A;
    border-radius: 8px;
    border-width: 1px;
}

.footer-text {
    color: #F2FA5A;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 24px;
}